.card-container[b-81dntyzvcu] {
    border-radius: 20px !important;
}

#image-container[b-81dntyzvcu] {
    position: relative;
}
#image-title-container[b-81dntyzvcu] {
    position: absolute;
    top: 135px;
}


